:where(.css-dev-only-do-not-override-1l289hr).ant-table-wrapper table {
    width: 100%;
    text-align: start;
    border-radius: 10px 10px 0 0;
    border-collapse: collapse;
    border-spacing: 0;
}

.ant-collapse-header {
  display: flex !important;
  flex-direction: row-reverse !important;
  justify-content: flex-end !important;
}
.ant-collapse-arrow {
  margin-left: 8px !important;
  margin-right: 0 !important;
}