@import "tailwindcss";

.highlight-select .ant-select-selector {
  border: 2px solid #3b82f6 !important; /* Màu xanh nổi bật */
  box-shadow: 0 0 0 2px #bae6fd !important; /* Hiệu ứng shadow xanh nhạt */
  background: #f0f9ff !important;           /* Nền xanh nhạt */
  transition: border 0.2s, box-shadow 0.2s;
}

.highlight-select .ant-select-selector:focus,
.highlight-select .ant-select-selector.ant-select-focused {
  border-color: #2563eb !important;
  box-shadow: 0 0 0 2px #60a5fa !important;
}